<h1>配送先登録/一覧</h1>

<%= form_with model: @adress, url: adress_index_path, local: true do |f| %>

    <table class="table">
      <tbody>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name %></td>
        </tr>
      </tbody>
    </table>
<% end %>

<% @address.each do |address| %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">郵便番号</th>
          <th scope="col">住所</th>
          <th scope="col">宛名</th>
          <th scope="col">
              <%= link_to "編集する", edit_adress_path %>
              <%= link_to "削除する", %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address a%></td>
          <td><%= address.name %></td>
        </tr>
      </tbody>
    </table>
<% end %>