<h2>注文履歴詳細画面</h2>
<p>注文情報</p>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">注文日</th>
      <td><% @order.created_at %></td>
    </tr>
    <tr>
      <th scope="row">配送先</th>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <th scope="row">支払い方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th scope="row">ステータス</th>
      <td><%= @order.status %></td>
    </tr>
  </tbody>
</table>

<p>請求情報</p>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">商品合計</th>
      <td><% @order.created_at %></td>
    </tr>
    <tr>
      <th scope="row">配送先</th>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <th scope="row">支払い方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th scope="row">ステータス</th>
      <td><%= @order.status %></td>
    </tr>
  </tbody>
</table>

<p>注文内容</p>
<% @order_detail.each do |order_detail| %>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">商品</th>
      <td>単価</td>
      <td>個数</td>
      <td>小計</td>
    </tr>
    <tr>
      <th><%= order_detail.item.name%></th>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.quantity %></td>
      <td><%= order_detail.price * order_detail.quantity %></td>
    </tr>
  </tbody>
</table>

