<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, width: '90%', height: '90%' %>
    </div>
    <div class="col-md-8">
      <font size="5"><%= @item.name %></font></br>
      <%= @item.introduction %></br>
      <font size="4">￥<%= @item.with_tax_price %></font>(税込み)

      <% if @item.is_active == true %>
        <%= form_with model:@cart_item, url:cart_items_path, method: :post, local: true do |f| %>
          <%= f.select :amount, *[1..10], {include_blank: "個数選択"} %>
          <%#　select オブジェクト(今回はformの中なので省略できる)、プロパティ(モデルのカラム名)、要素情報、オプション、要素属性(今回はなし) %>
          <%= f.hidden_field :item_id, :value =>[@item.id] %>
           <%#第一引数にオブジェクト名item_id、第二引数部分にvalueで受け渡す値 @item.idを指定
           #cartitem controllerの cart_items.find_by(item_id:に送ることができる %>
          <%= f.submit "カートに入れる", class:"btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





